<h1>Log In Below As A Patient:</h1><br>

<form method="POST" action="/patients/login">
  Username: <input type="text" name="username" >
  Password: <input type="password" name="password">
  <input type="submit" value="Log In" id="submit">
</form>
<br>
<h4>Or create an account below to log in</h4><br>
<a href="/patients/signup"><button>Sign Up As A Patient</button></a>
