<h1>Sign Up Below As A Patient:</h1><br>

<form action="/signup/patient" method="POST">
  <p>First Name: <input type="text" name="email"></p><br>
  <p>Last Name: <input type="text" name="email"></p><br>
  <p>Email: <input type="text" name="email"></p><br>
  <p>Username: <input type="text" name="username"></p><br>
  <p>Password: <input type="password" name="password"></p><br>
  <input type="submit" value="Create Patient">
 </form>
