<a href="/">Back</a>
<br><br>
<h1><u>Log In Below As A Doctor:</u></h1><br>

<% if flash.has?(:message) %>
  <%= flash[:message] %> <a href="/doctors/signup">Sign Up As Doctor Here</a>
<% end %>
<br><br>
<form method="POST" action="/doctors/login">
  Username: <input type="text" name="username" >
  Password: <input type="password" name="password">
  <input type="submit" value="Log In" id="submit">
</form>
<br>
<h4>Or create an account below to log in</h4><br>
<a href="/doctors/signup"><button>Sign Up As A Doctor</button></a>
