<head>
  <header><h1><u>Welcome to your MED-APP</u></h1></header>
</head><br><br>
<div class="container">



    <p>Welcome to your personal medical application!</p>
    <p>Log in or Sign up below to access your personal page.</p>
    <br>
    <div class="welcome">
      <a href="/doctors/login"><button>Log In As Doctor</button></a>
      <a href="/patients/login"><button>Log In As Patient</button></a><br><br>
      <a href="/doctors/signup"><button>Sign Up As Doctor</button></a>
      <a href="/patients/signup"><button>Sign Up As Patient</button></a>
    </div>


  </div>
</div>
